build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-313438219820176bfed7.json
build/.cmake/api/v1/reply/cmakeFiles-v1-21607ad90f05f04e6052.json
build/.cmake/api/v1/reply/codemodel-v2-0babbed3890957f35813.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/directory-examples-Debug-1c8b83b621b6ef38a245.json
build/.cmake/api/v1/reply/directory-examples.triangle-Debug-4b64c0ba551f8187327a.json
build/.cmake/api/v1/reply/directory-src.Base-Debug-42959fbadf92f99190cb.json
build/.cmake/api/v1/reply/index-2024-09-21T03-35-13-0329.json
build/.cmake/api/v1/reply/target-Base-Debug-98e4ad4796eaf539246d.json
build/.cmake/api/v1/reply/target-triangle-Debug-258a4e41660009f003ef.json
build/.cmake/api/v1/reply/toolchains-v1-305e527782f2c5334fff.json
build/bin/triangle
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/a.out
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/examples/cmake_install.cmake
build/examples/triangle/cmake_install.cmake
build/examples/triangle/CMakeFiles/triangle.dir/main.cpp.o
build/src/Base/cmake_install.cmake
build/src/Base/libBase.so
build/src/Base/CMakeFiles/Base.dir/Application.cpp.o
build/src/Base/CMakeFiles/Base.dir/DebugUtilsMessenger.cpp.o
build/src/Base/CMakeFiles/Base.dir/Event.cpp.o
build/src/Base/CMakeFiles/Base.dir/Instance.cpp.o
build/src/Base/CMakeFiles/Base.dir/LogicalDevice.cpp.o
build/src/Base/CMakeFiles/Base.dir/Node.cpp.o
build/src/Base/CMakeFiles/Base.dir/PhysicalDevice.cpp.o
build/src/Base/CMakeFiles/Base.dir/Pipeline.cpp.o
build/src/Base/CMakeFiles/Base.dir/RenderPass.cpp.o
build/src/Base/CMakeFiles/Base.dir/Surface.cpp.o
build/src/Base/CMakeFiles/Base.dir/SwapChain.cpp.o
build/src/Base/CMakeFiles/Base.dir/Window.cpp.o
build/Makefile
build/.cmake/api/v1/reply/cache-v2-5ec243b1232d14c64ab8.json
build/.cmake/api/v1/reply/cmakeFiles-v1-50aeff942d94c29ae12f.json
build/.cmake/api/v1/reply/codemodel-v2-118a7d487310d34eccd1.json
build/.cmake/api/v1/reply/directory-.-d0094a50bb2071803777.json
build/.cmake/api/v1/reply/directory-examples-2e8964349ffea94e1580.json
build/.cmake/api/v1/reply/directory-examples.triangle-a94a12876ef5f47394d9.json
build/.cmake/api/v1/reply/directory-src.Base-a0ec7095c0e4599c08f1.json
build/.cmake/api/v1/reply/index-2024-09-21T04-40-04-0253.json
build/.cmake/api/v1/reply/target-Base-6d2de6d26a8e9279a7f3.json
build/.cmake/api/v1/reply/target-triangle-2fe545bce42205d5d482.json
build/.cmake/api/v1/reply/toolchains-v1-e62d63d59fd08a51a7d4.json
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/3.30.2/CMakeCCompiler.cmake
build/CMakeFiles/3.30.2/CMakeCXXCompiler.cmake
build/CMakeFiles/3.30.2/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.30.2/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.30.2/CMakeRCCompiler.cmake
build/CMakeFiles/3.30.2/CMakeSystem.cmake
build/CMakeFiles/3.30.2/CompilerIdC/a.exe
build/CMakeFiles/3.30.2/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.30.2/CompilerIdCXX/a.exe
build/CMakeFiles/3.30.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Progress/1
build/CMakeFiles/Progress/2
build/CMakeFiles/Progress/3
build/CMakeFiles/Progress/4
build/CMakeFiles/Progress/5
build/CMakeFiles/Progress/6
build/CMakeFiles/Progress/7
build/CMakeFiles/Progress/8
build/CMakeFiles/Progress/9
build/CMakeFiles/Progress/10
build/CMakeFiles/Progress/11
build/CMakeFiles/Progress/12
build/CMakeFiles/Progress/13
build/CMakeFiles/Progress/count.txt
build/examples/Makefile
build/examples/CMakeFiles/CMakeDirectoryInformation.cmake
build/examples/CMakeFiles/progress.marks
build/examples/triangle/Makefile
build/examples/triangle/CMakeFiles/CMakeDirectoryInformation.cmake
build/examples/triangle/CMakeFiles/progress.marks
build/examples/triangle/CMakeFiles/triangle.dir/build.make
build/examples/triangle/CMakeFiles/triangle.dir/cmake_clean.cmake
build/examples/triangle/CMakeFiles/triangle.dir/compiler_depend.make
build/examples/triangle/CMakeFiles/triangle.dir/compiler_depend.ts
build/examples/triangle/CMakeFiles/triangle.dir/depend.make
build/examples/triangle/CMakeFiles/triangle.dir/DependInfo.cmake
build/examples/triangle/CMakeFiles/triangle.dir/flags.make
build/examples/triangle/CMakeFiles/triangle.dir/includes_CXX.rsp
build/examples/triangle/CMakeFiles/triangle.dir/link.txt
build/examples/triangle/CMakeFiles/triangle.dir/linkLibs.rsp
build/examples/triangle/CMakeFiles/triangle.dir/objects1.rsp
build/examples/triangle/CMakeFiles/triangle.dir/progress.make
build/src/Base/Base.def
build/src/Base/libBase.dll.a
build/src/Base/Makefile
build/src/Base/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/Base/CMakeFiles/progress.marks
build/src/Base/CMakeFiles/Base.dir/Application.cpp.obj
build/src/Base/CMakeFiles/Base.dir/Application.cpp.obj.d
build/src/Base/CMakeFiles/Base.dir/build.make
build/src/Base/CMakeFiles/Base.dir/cmake_clean.cmake
build/src/Base/CMakeFiles/Base.dir/compiler_depend.make
build/src/Base/CMakeFiles/Base.dir/compiler_depend.ts
build/src/Base/CMakeFiles/Base.dir/DebugUtilsMessenger.cpp.obj
build/src/Base/CMakeFiles/Base.dir/DebugUtilsMessenger.cpp.obj.d
build/src/Base/CMakeFiles/Base.dir/depend.make
build/src/Base/CMakeFiles/Base.dir/DependInfo.cmake
build/src/Base/CMakeFiles/Base.dir/Event.cpp.obj
build/src/Base/CMakeFiles/Base.dir/Event.cpp.obj.d
build/src/Base/CMakeFiles/Base.dir/flags.make
build/src/Base/CMakeFiles/Base.dir/includes_CXX.rsp
build/src/Base/CMakeFiles/Base.dir/Instance.cpp.obj
build/src/Base/CMakeFiles/Base.dir/Instance.cpp.obj.d
build/src/Base/CMakeFiles/Base.dir/link.txt
build/src/Base/CMakeFiles/Base.dir/linkLibs.rsp
build/src/Base/CMakeFiles/Base.dir/LogicalDevice.cpp.obj
build/src/Base/CMakeFiles/Base.dir/LogicalDevice.cpp.obj.d
build/src/Base/CMakeFiles/Base.dir/Node.cpp.obj
build/src/Base/CMakeFiles/Base.dir/Node.cpp.obj.d
build/src/Base/CMakeFiles/Base.dir/objects.a
build/src/Base/CMakeFiles/Base.dir/objects1.rsp
build/src/Base/CMakeFiles/Base.dir/PhysicalDevice.cpp.obj
build/src/Base/CMakeFiles/Base.dir/PhysicalDevice.cpp.obj.d
build/src/Base/CMakeFiles/Base.dir/Pipeline.cpp.obj
build/src/Base/CMakeFiles/Base.dir/Pipeline.cpp.obj.d
build/src/Base/CMakeFiles/Base.dir/progress.make
build/src/Base/CMakeFiles/Base.dir/RenderPass.cpp.obj
build/src/Base/CMakeFiles/Base.dir/RenderPass.cpp.obj.d
build/src/Base/CMakeFiles/Base.dir/Surface.cpp.obj
build/src/Base/CMakeFiles/Base.dir/Surface.cpp.obj.d
build/src/Base/CMakeFiles/Base.dir/SwapChain.cpp.obj
build/src/Base/CMakeFiles/Base.dir/SwapChain.cpp.obj.d
build/src/Base/CMakeFiles/Base.dir/Window.cpp.obj
build/src/Base/CMakeFiles/Base.dir/Window.cpp.obj.d
