build/.ninja_deps
build/.ninja_log
build/build.ninja
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-313438219820176bfed7.json
build/.cmake/api/v1/reply/cmakeFiles-v1-21607ad90f05f04e6052.json
build/.cmake/api/v1/reply/codemodel-v2-0babbed3890957f35813.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/directory-examples-Debug-1c8b83b621b6ef38a245.json
build/.cmake/api/v1/reply/directory-examples.triangle-Debug-4b64c0ba551f8187327a.json
build/.cmake/api/v1/reply/directory-src.Base-Debug-42959fbadf92f99190cb.json
build/.cmake/api/v1/reply/index-2024-09-21T03-35-13-0329.json
build/.cmake/api/v1/reply/target-Base-Debug-98e4ad4796eaf539246d.json
build/.cmake/api/v1/reply/target-triangle-Debug-258a4e41660009f003ef.json
build/.cmake/api/v1/reply/toolchains-v1-305e527782f2c5334fff.json
build/bin/triangle
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/rules.ninja
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/a.out
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/a.out
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/examples/cmake_install.cmake
build/examples/triangle/cmake_install.cmake
build/examples/triangle/CMakeFiles/triangle.dir/main.cpp.o
build/src/Base/cmake_install.cmake
build/src/Base/libBase.so
build/src/Base/CMakeFiles/Base.dir/Application.cpp.o
build/src/Base/CMakeFiles/Base.dir/DebugUtilsMessenger.cpp.o
build/src/Base/CMakeFiles/Base.dir/Event.cpp.o
build/src/Base/CMakeFiles/Base.dir/Instance.cpp.o
build/src/Base/CMakeFiles/Base.dir/LogicalDevice.cpp.o
build/src/Base/CMakeFiles/Base.dir/Node.cpp.o
build/src/Base/CMakeFiles/Base.dir/PhysicalDevice.cpp.o
build/src/Base/CMakeFiles/Base.dir/Pipeline.cpp.o
build/src/Base/CMakeFiles/Base.dir/RenderPass.cpp.o
build/src/Base/CMakeFiles/Base.dir/Surface.cpp.o
build/src/Base/CMakeFiles/Base.dir/SwapChain.cpp.o
build/src/Base/CMakeFiles/Base.dir/Window.cpp.o
